* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

:root {
    --font: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif;

}

body {
    background-color: rgb(0, 0, 0);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 18px;
    border-radius: 0 0 10px 10px;
    margin: 0 40px 0 40px;
    font-family: var(--font);
    font-size: 17px;
    backdrop-filter: blur(1000px);


}

.hidden {
    display: none;
}

header {
    position: sticky;
    top: 0;

}

.left-nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    padding: 0px 20px;
    color: white;

}

.text,
.subs {
    align-self: center;
    cursor: pointer;
}


.logo {
    align-self: center;
}

.join {
    color: white;
    background-color: rgb(26 152 255 / 80%);
    border: none;
    border-radius: 7px;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 8px 10px;
    cursor: pointer;
}

.right-nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}

.line {
    border: 1px solid white;
    width: 0;
    height: 12px;
    align-self: center;
}

.search {
    width: 20px;
    height: 20px;
    color: white;
}

.phone-show {
    display: none;
}

.arrow {
    width: 12px;
    color: white;
    height: 12px;
}

.lang {
    padding-top: 10px;
    cursor: pointer;
}

.fir {

    background-image: url(using\ media/pm1.jpg);
    background-position: right;
    border: 2px solid;
    object-fit: fill;
    background-repeat: no-repeat;

}


.first {
    padding: 76px;
    width: 40vw;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 60px 0px 70px 56px #000000;
    background-color: #000000;
    justify-content: center;
    align-content: center;
}

.welcome {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 20px;
}

.small {
    font-size: 22px;
    font-weight: 500;
}

.monthly-pack {
    margin-left: 70px;

}

.yearly-pack {
    border: none;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 9px;
    width: auto;
    width: 250px;
    font-size: 15px;
    font-weight: 700;
    font-family: var(--font);
    box-sizing: content-box;
    margin-bottom: 5px;
    margin-top: 23px;
    cursor: pointer;
    animation: hover-back 300s linear 1 forwards;
}

.yearly-pack:hover {
    animation: hover 300ms alternate forwards;
}

@keyframes hover {
    from {
        padding: auto;

    }

    to {
        padding: 25px;
        background-color: #ebe0e0;

    }
}




article {
    background-image: url(using\ media/prime-video2.jpg);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
}

.second {
    padding: 76px;
    width: 40vw;
    height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 60px 0px 70px 56px #000000;
    background-color: #000000;
    justify-content: center;
    align-content: center;
}

h1 {
    margin-top: 85px;
    margin-bottom: 50px;
    font-size: 38px;
    width: 500px;
}

p {
    font-size: larger;
    font-weight: 500;
}

.rent {
    border: none;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 9px;
    width: 120px;
    font-size: 15px;
    font-weight: 700;
    font-family: var(--font);
    box-sizing: content-box;
    margin-bottom: 5px;
    margin-top: 23px;
    cursor: pointer;
    animation: hover-new 300s linear 1 forwards;
}

.rent:hover {
    animation: hover-new 300ms alternate forwards;
}

@keyframes hover-new {
    from {
        padding: auto;
    }

    to {
        padding: 25px;
        background-color: #ebe0e0;
    }

}

.third {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-start;
    margin-left: auto;
    width: 47vw;
    height: 400px;

}

.thr {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr;
    gap: 1vh;
    padding: 18px;
}

.sites {
    width: 15vw;
    border-radius: 12px;

}

.sites:hover {
    box-shadow: 0px 0px 14px 0px grey;
    cursor: pointer;
}

footer {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100px;

}


.main-logo {
    width: 100px;
    height: 27px;
    margin-bottom: 10px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    padding: 5px;
    color: #79b8f3;
}

a:hover {
    color: #90dffe;
}

.copyright {
    margin: 10px;
    color: #8197a4;
}

@media only screen and (max-width:650px) {
    *{
        margin: 0;padding: 0;
    }
    .phone-img1 {
        width: 100%;
        height: 50vh;
        background-image: url(using\ media/mobile-image.jpg);
        object-fit: cover;
    }
    
    .phone-show2 {
        width: 100%;
        height: 50vh;
        background-image: url(using\ media/mobile-image2.jpg);
        object-fit: cover;
    }
    .first {
    padding: 22px;
    width: 90%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    background-color: none;
    justify-content: center;
    align-content: center;
}
    .second {
    padding: 22px;
    width: 90%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    background-color: none;
    justify-content: center;
    align-content: center;
}

article{
    background: none;
}

    .yearly-pack,
    .monthly-pack {
        display: none;
    }

    .phone-show {
        display: flex;
        background-color: white;
        color: black;
        padding: 20px;
        border-radius: 9px;
        width: 150px;
        font-size: 15px;
        font-weight: 700;
        font-family: var(--font);
        box-sizing: content-box;
        margin-bottom: 5px;
        margin-top: 23px;
        cursor: pointer;
        animation: hover-back 300s linear 1 forwards;

    }

    .thr {
        flex-direction: column-reverse;
    }

    .grid {
        display: grid;
        grid-template-columns: 1.2fr 1.2fr 1.2fr;
        grid-template-rows: 2fr 2fr 2fr;
        gap: 1vh;
        padding: 8px;
    }

    .third {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: self-start;
        margin-left: 0;
        width: auto;
        height: 400px;

    }
    h1{
        width: 90%;
    }

    .sites {
        width: 30vw;
        border-radius: 12px;

    }

    .phone-show:hover {
        animation: hover 300ms alternate forwards;
    }

    @keyframes hover {
        from {
            padding: auto;

        }

        to {
            padding: 25px;
            background-color: #ebe0e0;

        }
    }

}
@media only screen and (max-width:900px) {


    .menu {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        padding: 0px;
        margin: 0;
        border-radius: 0;
        font-family: var(--font);
        background-color: black;
        font-size: 13px;
    }

    .text,
    .subs {
        display: none;
    }

    .line {
        display: none;
    }

    .hidden {
        display: flex;
        align-self: center;
    }
    
}